@model IEnumerable<TechFest.Event>

@{
    ViewBag.Title = "Index";
    var val = User.Identity.Name;

}

<h2>Hi @Session["Name"]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index", "Main", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Logout" class="btn btn-primary" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @if (Session["Name"] == null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.e_id }) 
                <span>  @Html.ActionLink("Details", "Details", new { id = item.e_id }) </span>
                <span>  @Html.ActionLink("Delete", "Delete", new { id = item.e_id })</span>
                        

                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                                    @Html.ActionLink("Register", "index", "Events", new { id = item.e_id }, null)
                                    <span>
                                        @Html.ActionLink("Volunteer", "index", "Volunteer", new { id = item.e_id }, null)
                                    </span>
                        }
                    }

                
            </td>
        </tr>
    }

</table>
